<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="exampleJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.irs.springquartzexample.ExampleJob" />
	</bean>

	<!-- 
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean"> 
		<property name="jobDetail" ref="exampleJob" /> 
		<property name="startDelay" value="10000" /> 
		<property name="repeatInterval" value="60000" /> 
	</bean> 
	-->

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="exampleJob" />
		<!-- Se ejecuta cada minuto -->
		<!-- <property name="cronExpression" value="0 0/1 * * * ?" /> -->
		<!-- Se ejecuta cada segundo -->
		<!-- <property name="cronExpression" value="*/1 * * ? * *" /> -->
		<!-- Se ejecuta cada 10 segundos -->
		<!-- <property name="cronExpression" value="0/10 * * ? * *" /> -->
		<!-- Se ejecuta cada minuto -->
		<property name="cronExpression" value="0 */1 * * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<!--<ref bean="simpleTrigger" /> -->
			</list>
		</property>
	</bean>
</beans>